.writeup li{
    margin-left: 40px;
}

dl {
  display: grid;
  grid-template-columns:
    /*4 equally spaced columns*/
    repeat(4, 1fr);
  grid-template-rows: auto auto;
  /* two rows — one for dt and one for dd */
  gap: 1rem;
}

dt {
  grid-row: 1;
  /* force all dt elements into the first row */
  text-align: center;
  font-weight: bold;
}

dd {
  grid-row: 2;
  /* force all dd elements into the second row */
  text-align: center;
  margin: 0;
}

:root {
  --color-neutral-95: hsl(220 10% 95%);
  --color-neutral-90: hsl(220 10% 90%);
  --color-neutral-80: hsl(220 10% 80%);
  --color-neutral-70: hsl(220 10% 70%);
  --color-neutral-60: hsl(220 10% 60%);
  --color-neutral-50: hsl(220 10% 50%);
  --color-neutral-40: hsl(220 10% 40%);
  --color-neutral-30: hsl(220 10% 30%);
  --color-neutral-20: hsl(220 10% 20%);
  --color-neutral-10: hsl(220 10% 10%);
  --font-heading: 'Georgia', sans-serif;
  --font-body: 'Georgia', sans-serif;
  --font-caption: 'Georgia', sans-serif;
}

html {
  font: 100%/1.5 var(--font-body);
  counter-reset: figure;
  background: var(--color-neutral-95);
  max-width: min(75vw, 80em);
  margin: 0 auto;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.1;
  font-weight: 600;
  text-wrap: balance;
}

h1,
h2 {
  border-bottom: 1px solid var(--color-neutral-80);
  padding-bottom: 0.2em;
}

h1 {
  margin-block: 1em 0.5rem;
  font-size: clamp(2.5em, 150% + 2vh + 2vw, 10vmin);
  font-weight: 800;

  small {
    display: block;
    width: fit-content;
    padding: 0.2em 0.5em;
    margin-inline: auto;
    color: white;
    background: var(--color-neutral-40);
    font-size: 40%;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

h2 {
  font-size: 180%;
  color: var(--color-neutral-30);
}

h3 {
  font-size: 130%;
}

/* Lists */

ul,
ol {
  padding-inline-start: 2em;
}

li {
  &::marker {
    color: var(--color-neutral-40);
  }

  +li {
    margin-top: 0.2em;
  }
}

/* Sectioning elements */

header {
  padding-block: 1em;
  text-align: center;
}

main {
  background: white;
  color: var(--color-neutral-20);
  border-radius: 1rem;
  padding: 0.1rem 2rem;
}

/* Figures */

figure {
  margin: 1em 0;
  padding: 0.5rem;
  margin-inline: -0.5em;
  border: 1px solid var(--color-neutral-80);
  box-shadow: 0 0.1em 0.2em var(--color-neutral-95);
  text-align: center;
  background: white;

  >figcaption {
    font-family: var(--font-caption);
    font: 500 75% var(--font-sans);
    background: var(--color-neutral-95);
    padding: 0.5rem;
    margin: -0.5rem;
    margin-top: 0.5rem;
    counter-increment: figure;
    text-align: left;

    &::before {
      content: 'Figure ' counter(figure) ': ';
      font-weight: bold;
      color: var(--color-neutral-40);
    }

    a:not(:hover, :focus, :active) {
      color: inherit;
      text-decoration: underline;
      text-decoration-color: color-mix(in lab,
          currentColor,
          transparent 70%);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  /* keeps aspect ratio */
  display: block;
  margin: 0 auto;
  /* optional: center the image */
}

.highlighted {
  stroke: black;
  stroke-width: 3px;
  fill: rgb(255, 179, 0);
}

#time-slider {
  width: 600px;
  /* longer slider */
  height: 12px;
  /* thicker track */
  color: #ff4500;
}

/* Thumb */
#time-slider::-webkit-slider-thumb {
  width: 24px;
  /* bigger thumb */
  height: 24px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  /* center thumb */
}

#time-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.button-container button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 6px;
  font-size: 14px, ;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  font-family: Georgia, serif;
}

.button-container button:hover {
  background-color: #3a78c0;
  transform: translateY(-2px);
}

.button-container button:active {
  transform: translateY(0);
}

#map-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-container {
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}